---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="A bit more about the company..."
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Started in 2016, Legion GIS is a Louisiana-based consulting firm specializing
						in Geographic Information Systems. We work with clients and partners around the world, 
						and are strong advocates for free and open source software, geospatial or otherwise.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Personnel</h2>
				<div class="content">
					<div class="staff-item">
						<img src="/assets/ac_headshot_square-xl.jpg"></img>
						<div>
							<p>Adam (software developer & cartographer) has worked with geographic information systems since 2011. In his 
								free time, he pores over old maps and goes exploring.</p>
							<p><strong>Email:</strong> adam [at] legiongis.com</p>
						</div>
					</div>
					<div class="staff-item">
						<img src="/assets/liz_headshot-xl.jpg"></img>
						<div>
							<p>Liz (office manager) has spent years in school and office administration, recently with the 
								<a href="https://www.driftlessfolkschool.org/">Driftless Folk School</a>
								and <a href="https://www.thoreaucollege.org/">Thoreau College</a> in Wisconsin.</p>
							<p><strong>Email:</strong> liz [at] legiongis.com</p>
						</div>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Tech notes</h2>
				<div class="content">
					<p>
						We use open source software for our projects, whenever possible. We typically publish
						our own work under an open source license as well, which you can find in our 
						<a href="https://github.com/legiongis">GitHub
						org</a>.
					</p>
					<p>We wouldn't be able to do our work without these fantasic open source tools:</p>
					<ul>
						<li>Desktop</li>
						<ul>
							<li>QGIS, Inkscape, GIMP</li>
						</ul>
						<li>Web backend</li>
						<ul>
							<li>Django, Geoserver, GeoNode, TiTiler, pg_tileserv, GDAL, PostGIS</li>
						</ul>
						<li>Web frontend</li>
						<ul>
							<li>OpenLayers, MapLibre, Leaflet, Svelte</li>
						</ul>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Contact</h2>
				<div class="content">
					<p>To get in touch with us for any administrative needs, write to admin [at] legiongis.com.</p>
					<p>We are registered for business in both Wisconsin and Louisiana. Below are the official addresses
						for each state.
					</p>
					<p><strong>Wisconsin</strong></p>
					<pre>
Legion GIS, LLC
211 Hillyer St.
Viroqua, WI 54665</pre>
					<p><strong>Louisiana</strong></p>
					<pre>
Legion GIS, LLC
3154 Toulouse St.
New Orleans, LA 70119</pre>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
