---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Legion GIS" description="About Legion GIS">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="A little more about us..."
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Started in 2016, Legion GIS is a consulting firm specializing
						in Geographic Information Systems in a variety of contexts. We work with clients and partners around the world, 
						and advocate for free and open source software, geospatial or otherwise. We are registered as an LLC in 
						both Wisconsin and Louisiana.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Personnel</h2>
				<div class="content">
					<div class="staff-item">
						<img src="/assets/ac_headshot_square-xl.jpg"></img>
						<div>
							<p>Adam (software developer & cartographer) has worked in GIS and mapping since 2011, 
								when he got hooked through archaeology.
								He has worked in spatial data management for the <a href="https://www.nps.gov/subjects/ncptt/index.htm">National Park Service</a>,
								server hosting and Django development through <a href="https://archesproject.org">Arches</a>, and frontend web
								application creation as the lead research software engineer at the <a href="https://healthyregions.org">Healthy
								Regions & Policies Lab</a>. In 2022 he earned dual MS Geography  and MLIS degress from LSU, and
								currently lives in New Orleans.</p>
							<p><em>adam [at] legiongis.com</em> &bull; <em><a href="https://www.linkedin.com/in/mradamcox/">linkedin &nearr;</a></em></p>
						</div>
					</div>
					<div class="staff-item">
						<img src="/assets/liz_headshot-xl.jpg"></img>
						<div>
							<p>Liz (office manager) has spent years in school and office administration, recently with the 
								<a href="https://www.driftlessfolkschool.org/">Driftless Folk School</a>
								and <a href="https://www.thoreaucollege.org/">Thoreau College</a> in Wisconsin.</p>
							<p><em>liz [at] legiongis.com</em> &bull; <em><a href="https://www.linkedin.com/in/liz-franklin-8272905b/">linkedin &nearr;</a></em></p>
						</div>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Tech notes</h2>
				<div class="content">
					<p>
						We use open source software for our projects, whenever possible. We typically publish
						our own work under an open source license as well, which you can find in our 
						<a href="https://github.com/legiongis">GitHub
						org</a>.
					</p>
					<p>We wouldn't be able to do our work without these tools:</p>
					<ul>
						<li>Desktop</li>
						<ul>
							<li>QGIS, Inkscape, GIMP</li>
						</ul>
						<li>Web backend</li>
						<ul>
							<li>Django, Geoserver, GeoNode, TiTiler, pg_tileserv, GDAL, PostGIS</li>
						</ul>
						<li>Web frontend</li>
						<ul>
							<li>OpenLayers, MapLibre, Leaflet, Svelte</li>
						</ul>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Contact</h2>
				<div class="content">
					<p>To get in touch with us for any administrative needs, write to <em>admin [at] legiongis.com</em>.</p>
					<p>Business addresses:</p>
					<pre>
Legion GIS, LLC
211 Hillyer St.
Viroqua, WI 54665</pre>
<pre>
Legion GIS, LLC
3154 Toulouse St.
New Orleans, LA 70119</pre>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: .5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}


	.staff-item {
		display: flex;
		align-items: start;
		gap: 1em;
		margin-bottom: 1.5em;
	}

	.staff-item > img {
		height: 100px;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
