<div class="pill"><slot /></div>

<style>
	.pill {
		display: inline-flex;
		padding: 0.25rem 0.6rem;
		background-color: var(--gray-800);
		border-radius: 0.25rem;
		font-size: var(--text-sm);
		font-family: var(--font-system);
		font-weight: 500;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: var(--gray-400);
		white-space: nowrap;
	}
</style>
