---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Historical applications</h2>
		<p>Developer and maintainer of <a href="https://oldinsurancemaps.net">OldInsuranceMaps</a>, a collaborative platform for georeferencing historical fire insurancemaps. We love building digital applications from archival materials!</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="map-trifold" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Mapmaking & data management</h2>
		<ul>
			<li>Brochure maps and technical reports</li>
			<li>Interactive web applications</li>
			<li>Custom spatial data processing and scripting</li>
		</ul>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="globe-stand" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Arches support & hosting</h2>
		<p>Legion has been an <a href="https://archesproject.org/">Arches</a> service provider since 2016, offering hosting, data migration, and general consulting services.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
